DATABASE_DRIVER="postgres"
DATABASE_NAME="films"
DATABASE_PORT=5432
DATABASE_HOST="localhost"
DATABASE_USERNAME="student"
DATABASE_PASSWORD="student"
DEBUG=*
IMAGE_FOLDER_PATH="/content/afisha"
PORT=3000